@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#ffffff;
    --secondary-text-color:#87868C;
    --accent-color:#7b3fe4;
    --accent-dark-color:#1d69a3;
    --padding-inline-selection: 20px;
    --background-color:#0a090d ;
}

body{
    font-family: 'Poppins' , sans-serif;
    background-color: var(--background-color);
    background-image: url(./Assets/asset\ 59.svg);
    background-repeat: repeat-x;
    background-position-x: center;
    
}

h1{
    font-size: 3rem;
    color: var(--primary-text-color);
}

h2{
    font-size: 2rem;
    color: var(--primary-text-color);
}
h3{
    font-size: 1.5rem;
    color: var(--primary-text-color);
}
p{
    font-size: 1.25rem;
    font-family: 'Roboto' , sans-serif;
    Color:var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}
/* Utility classes*/
.small-bold-text{
    font-size: 1.5rem;
    font-weight: 700;
    color:var(--primary-text-color);
}

.container{
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-selection);
    overflow: hidden;  
}

.hover-links{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-links:hover{
    color: var(--accent-color);
}

.primary-btn{
    background-color: var(--accent-color);
    border-radius: 20px;
    font-weight: 400;
    color: white !important;
    padding: 10px 20px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.3s ease-out;
    text-align: center;
}

.primary-btn:hover{
    background-color: #fff;
    color: #111 !important;
}

.secondary-btn{
    border: 0.5px solid var(--primary-text-color);
    border-radius: 20px;
    font-weight: 400;
    color: var(--secondary-text-color) !important;
    padding: 10px 20px;
    transition: 0.3s ease-out;
    text-align: center;
}
.secondary-btn:hover{
    color: var(--primary-text-color) !important;
    border-color: var(--accent-color);
}
.live-btn{
    color: var(--accent-color);
    border: 0.5px solid var(--accent-color);
    border-radius: 10px;
    font-weight: 300;
    padding: 3px 10px;
    transition: 0.3s ease-out;
    text-align: center;
    font-size: 0.9rem !important;
    text-transform: uppercase;
}




/* Nav bar */
.main-nav{
  margin-top: 20px;
  justify-content: space-between;
  position: relative;
  background-color:#0a090d;
}
.company-logo img{
    width: 140px;
}

.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 30px;
}
.nav-toggle{
    display:none
}


/*Header Section*/

header{
    padding: 50px var(--padding-inline-selection);
}
.header-section{
    text-align: center;
    margin-block: 120px;
}

.header-section h1{
    font-size: 4rem !important;
    margin-bottom: 10px;
}
.get-started-btn{
    margin-top: 30px;
}

.header-section .btn-2{
    background-color: transparent;
    font-weight: 400;
    color: var(--secondary-text-color);
    padding: 10px 20px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
    margin-top: 8px;
    border-radius: 8px;
}
.header-section .btn-2:hover{
    color: white;
}



/* Companies Header */

.companies-section{
    margin-block: 30px;
}

.companies-header{
    text-align: center;
    font-weight: 500;
    margin-block: 50px ;
    text-transform: uppercase;

}
.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}
.logo{
    height: 30px;
    width: 100px;
}


/* Features Section 

.features-section{
    padding: 80px var(--padding-inline-selection) 0;
    background-image: url(./assets/asset\ 41.png);
    background-position: center;
}
.features-header{
    text-align: center;
    margin-bottom: 40px;
}
.features-header h2{
    margin-bottom: 20px;
}

.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
.features-card img{
    width: 60px;
}

/* Big Feature Section */

.extra-style{
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
}
.big-feature{
    margin-top: 90px;
}

.big-feature-main-heading{
    text-align: center;
    font-size: 3.8rem;
    font-weight: 500;
    margin-top: 30px;
}

.big-feature-section{
    padding: 30px var(--padding-inline-selection) 0;
}
.big-features-para{
    text-align:justify;
    
}

.big-feature-container{
    gap: 70px;
}
.big-features-heading{
    margin-bottom: 10px;
}

.feature-image img{
    width: 110%;
}

.feature-description{
    flex-direction: column;
    align-items: flex-start;

}
.main-btn{
    flex-direction: row;
    margin-top: 40px;
    gap: 15px;
}

#second-big-feature-section{
  flex-direction: row-reverse;
}

/* center heading*/

.center-heading{
    text-align: center;
    margin-block: 90px;
    word-spacing: 3px;
    
}

.center-heading-h2 h2{
    font-size: 3.5rem;
    word-spacing: 5px;
}
.center-heading p{
    word-spacing: 3px;
}

.read-more{
    margin-block: 25px;
}
.center-image{
    width: 600px;
    display: flex;
    justify-content: block;
    margin-inline: auto;
    width: 50%;
}


/*examples section*/

.examples-header{
  flex-direction: column;
  gap: 20px;
}

.examples-card{
    width: 46%;
    position: relative;
    height: 300px;
    margin-block: 30px;
    margin-inline: 12px;
    background: black;
    background: linear-gradient(rgba(0,0,0,0.1) , rgba(0,0,0,0.8)) ,url(/Assets/asset\ 74.png);
    background-size: cover;
    transition: 0.3s ease-out;
}

.examples-card:hover{
    border-radius: 30px;
    box-shadow: 0 0 10px #888;
}

.examples-card:nth-child(2){
    background: linear-gradient(rgba(0,0,0,0.1) , rgba(0,0,0,0.8)) ,url(Assets/asset\ 54.jpeg);
    background-size: cover;
}

.examples-card:nth-child(3){
    background: linear-gradient(rgba(0,0,0,0.1) , rgba(0,0,0,0.8)) ,url(Assets/asset\ 81.png);
    background-size: cover;
}

.examples-card:nth-child(4){
    background: linear-gradient(rgba(0,0,0,0.1) , rgba(0,0,0,0.8)) ,url(Assets/asset\ 84.png);
    background-size: cover;
}

.card-text{
    position: absolute;
    bottom:30px ;
    left: 20px;
    right: 20px;
    color: white;
}
.examples-area{
    justify-content: space-between;
    margin-block:30px ;
    flex-wrap: wrap;
}





/* cta section */

.cta-section-container{
    flex-direction: column;
    gap: 10px;
    
    
}
.cta-section-container h2{
    color: white;
    font-size: 2.5rem !important;
}
.cta-section-container p{
    color: white;
}
.cta-section{
    padding: 120px var(--padding-inline-selection) 80px;
}
.cta-section-container .primary-btn{
    margin-top: 15px;
}


.contact{
	width: 64%;
	margin: 100px auto;
	padding: 70px 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 12px;
	background-image: url(../Polygon/Assets/asset\ 55.jpeg);
	background-size: cover;
}
.center h3{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 3px;
	color: var(--primary-text-color);
}
.center p{
	font-size: 1rem;
	color: var(--secondary-text-color);
	line-height: 26px;
	margin-bottom: 25px;
}
.contact .action form input[type="email"] {
	max-width: 100%;
	width: 470px;
	padding: 12px 15px;
	color: var(--primary-text-color);
	border: none;
	outline: none;
	margin: 0 10px 20px 0;
	border-radius: 30px;
}
.contact .action form input[type="submit"] {
	border: none;
}

/* Footer Section */

footer{
    padding-block: 80px;
    background-color: var(--background-color)
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;

}
.footer-heading{
    font-size: 1.2rem;
    color: var(--primary-text-color);
}
.second-footer-div{
    margin-block: 30px;
    margin-inline: 20px;
}
.hover-links-subheading{
  color: #67666e;
  transition: 0.3s all ease-in-out;
}
.hover-links-subheading:hover{
    color: var(--primary-text-color);
}


/* Sub footer */

.subfooter{
    background-color: var(--background-color);
    padding: var(--padding-inline-selection);
}

.subfooter-container{
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.subfooter-container .hover-links{
    color: var(--primary-text-color);
    transition: all 0.3s ease-in-out;
}
.subfooter-container .hover-links:hover{
    color: var(--accent-color);
}
.copyright-text{
  color: var(--secondary-text-color);
  font-size: 1rem;
}